=r ux.container
  =r ux.row
    =r ux.column width: 16
      =r ux.segment 'basic'
        =r ux.text class: 'text-center', text: '🔒 This page is protected by devise. You can only see it if you are logged in & authorized. 🔒'

      =r ux.divider

      =r ux.h2 'center aligned'
        | Recent Feeds
        =r ux.label text: @feeds.count, class: 'circular purple'

      - @feeds.each do |feed|
        =r ux.segment '!mb-20 !bg-zinc-700 !border-2 !border-zinc-300 !shadow-lg !rounded-2xl !px-10 !py-10'
          =r ux.code '!text-xs'
            =r ux.strong text: "Feed ID: #{feed.id}", class: 'text-white'
            br
            -if feed.feed_items.count > 0
              =r ux.div text: "Feed Items: #{ feed.feed_items.count }", class: 'text-white'
              =r ux.divider '!h-1 bg-zinc-100'
              - feed.feed_items.each do |feed_item|
                br
                =r ux.strong 'text-green-300'
                  = feed_item.created_at.strftime("Ingested on %m/%d/%Y")
                br
                =r ux.strong 'text-purple-300 !mb-20'
                  | Tags: &nbsp;
                - feed_item.tags.each do |tag|
                  =r ux.span text: "#{tag.name}  | ", class: 'text-green-300'
                =r ux.div 'text-white mt-10'
                  = feed_item.content.html_safe

            - else
              =r ux.div text: "Feed Items: 0", class: 'text-white'


