=r ux.container
  =r ux.row
    =r ux.column width: 16
      =r ux.h2 'center aligned !font-mono'
        | Discussions
        =r ux.label text: @total_discussions, class: 'circular !bg-black !text-white'

      =r ux.div 'text-center'
        = paginate @discussions

      - @discussions.each do |discussion|
        =r ux.segment '!mt-10 !mb-20 !bg-zinc-100 !border-4 !border-zinc-200 !shadow-xl !px-10 !py-10 overflow-x-hidden'
          =r ux.code
            =r ux.div 'text-right'
              = link_to 'Show Full Discussion', discussion_path(discussion)

            =r ux.h4 text: discussion.parsed_stem["title"], class: '!mb-0'

            =r ux.div 'text-blue-800 font-bold mb-4'
              = "Tag: #{discussion.story.tag.name}"

            =r ux.text text: discussion.parsed_stem["summary"], class: 'mb-8'

            - if discussion.story.images.count.positive?
              =r ux.div 'mb-2 bg-green-100 px-2 py-2'
                = "#{pluralize(discussion.story.images.count, 'Image')} Generated"

            - if discussion.story.images.first&.card_imagination.present? && discussion.story.images.first.card_imagination.payload["imageUrl"].present?
              =r ux.div
                = image_tag discussion.story.images.first.card_imagination.payload["imageUrl"], class: 'w-1/2'

            =r ux.div 'mt-5 mb-5'
              - if discussion.story.invalid_json
                =r ux.label text: "Invalid JSON", class: 'red'

              - if discussion.story.invalid_images
                =r ux.label text: "Invalid Images", class: 'purple'


      =r ux.div 'text-center'
        = paginate @discussions
