=r ux.container
  =r ux.row
    =r ux.column width: 16
      =r ux.h2 'center aligned !font-mono'
        | Tweets
        =r ux.label text: @total_tweets, class: 'circular !bg-black !text-white'

      =r ux.div 'text-center'
        = paginate @tweets

      - @tweets.each do |tweet|
        - frame_id = dom_id(tweet, "text_turbo_frame")
        = render 'tweet', tweet: tweet

      =r ux.div 'text-center'
        = paginate @tweets
