=r ux.container
  =r ux.row
    =r ux.column width: 16

      =r ux.segment '!bg-slate-900 inverted !mb-8 !py-2 !rounded-sm'
        =r ux.h3 'center aligned !font-mono !mb-0 flex items-center !text-sm !font-normal'
          div.mx-auto
            =r ux.icon 'bullhorn !text-sm !mb-1 !mr-2'
            | Networks

      =r ux.statistics 'tiny !mb-8 justify-center'

        =r ux.statistic
          =r ux.value ui: false,
                  class: '!text-slate-800'
          - if ENV['FACEBOOK_ENABLED']
            =r ux.div 'mx-auto mb-2 w-3 h-3 bg-green-500 rounded-full'
          - else
            =r ux.div 'mx-auto mb-2 w-3 h-3 bg-gray-300 rounded-full'

          =r ux.label text: 'Facebook', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value ui: false,
                  class: '!text-slate-800'
            - if ENV['TWITTER_ENABLED']
              =r ux.div 'mx-auto mb-2 w-3 h-3 bg-green-500 rounded-full'
            - else
              =r ux.div 'mx-auto mb-2 w-3 h-3 bg-gray-300 rounded-full'

          =r ux.label text: 'Twitter', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value ui: false,
                  class: '!text-slate-800'
            - if ENV['LINKEDIN_ENABLED']
              =r ux.div 'mx-auto mb-2 w-3 h-3 bg-green-500 rounded-full'
            - else
              =r ux.div 'mx-auto mb-2 w-3 h-3 bg-gray-300 rounded-full'

          =r ux.label text: 'LinkedIn', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value ui: false,
                  class: '!text-slate-800'
          - if ENV['INSTAGRAM_ENABLED']
            =r ux.div 'mx-auto mb-2 w-3 h-3 bg-green-500 rounded-full'
          - else
            =r ux.div 'mx-auto mb-2 w-3 h-3 bg-gray-300 rounded-full'

          =r ux.label text: 'Instagram', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'


        =r ux.statistic
          =r ux.value ui: false,
                  class: '!text-slate-800'
          - if ENV['PINTEREST_ENABLED']
            =r ux.div 'mx-auto mb-2 w-3 h-3 bg-green-500 rounded-full'
          - else
            =r ux.div 'mx-auto mb-2 w-3 h-3 bg-gray-300 rounded-full'

          =r ux.label text: 'Pinterest', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'




      =r ux.segment '!bg-slate-700 inverted !mb-6 !py-2 !rounded-sm w-11/12 !mx-auto'
        =r ux.h3 'center aligned !font-mono !mb-0 flex items-center !text-sm !font-normal'
          div.mx-auto
            =r ux.icon 'hourglass end !text-sm !mb-1 !mr-2'
            | Pending

      =r ux.statistics 'tiny !mb-4 justify-center'
        =r ux.statistic
          =r ux.value text: number_with_delimiter(@pending_stories_count, :delimiter => ','), ui: false,
                  class: '!text-slate-800'
          =r ux.label text: 'Stories', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value text: number_with_delimiter(@unpublished_discussions, :delimiter => ','), ui: false,
                  class: '!text-slate-800'
          =r ux.label text: 'Discussions'.html_safe, ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value text: number_with_delimiter(@pending_tweets, :delimiter => ','), ui: false,
                  class: '!text-slate-800'
          =r ux.label text: 'Tweets', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'

      =r ux.segment '!bg-slate-600 inverted !mb-6 !py-2 !rounded-sm w-10/12 !mx-auto'
        =r ux.h3 'center aligned !font-mono !mb-0 flex items-center !text-sm !font-normal'
          div.mx-auto
            =r ux.icon 'thumbs down !text-sm !mb-1 !mr-2'
            | Denied

      =r ux.statistics 'tiny !mb-4 justify-center'
        =r ux.statistic
          =r ux.value text: number_with_delimiter(@denied_stories, :delimiter => ','), ui: false,
                  class: '!text-gray-700'
          =r ux.label text: 'Stories', ui: false,
                  class: '!font-mono !text-gray-700 !font-normal'

        =r ux.statistic
          =r ux.value text: number_with_delimiter(@denied_tweets, :delimiter => ','), ui: false,
                  class: '!text-gray-700'
          =r ux.label text: 'Tweets', ui: false,
                  class: '!font-mono !text-gray-700 !font-normal'


      =r ux.segment '!bg-slate-800 inverted !mb-6 !py-2 !rounded-sm w-9/12 !mx-auto'
        =r ux.h3 'center aligned !font-mono !mb-0 flex items-center !text-sm !font-normal'
          div.mx-auto
            =r ux.icon 'glass cheers !text-sm !mb-1 !mr-2'
            | Approved

      =r ux.statistics 'tiny !mb-4 justify-center'
        =r ux.statistic
          =r ux.value text: number_with_delimiter(@approved_stories, :delimiter => ','), ui: false,
                  class: '!text-slate-800'
          =r ux.label text: 'Stories', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value text: number_with_delimiter(@approved_tweets, :delimiter => ','), ui: false,
                  class: '!text-slate-800'
          =r ux.label text: 'Tweets', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'



      =r ux.segment '!bg-slate-900 inverted !mb-6 !py-2 !rounded-sm w-8/12 !mx-auto'
        =r ux.h3 'center aligned !font-mono !mb-0 flex items-center !text-sm !font-normal'
          div.mx-auto
            =r ux.icon 'newspaper !text-sm !mb-1 !mr-2'
            | Published

      =r ux.statistics 'tiny !mb-4 justify-center'
        =r ux.statistic
          =r ux.value text: number_with_delimiter(@published_discussions, :delimiter => ','), ui: false,
                  class: '!text-slate-800'
          =r ux.label text: 'Discussions', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value text: number_with_delimiter(@published_tweets, :delimiter => ','), ui: false,
                  class: '!text-slate-800'
          =r ux.label text: 'Tweets', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'


      =r ux.segment '!bg-slate-800 inverted !mb-8 !py-2 !rounded-sm w-10/12 !mx-auto'
        =r ux.h3 'center aligned !font-mono !mb-0 flex items-center !text-sm !font-normal'
          div.mx-auto
            =r ux.icon 'calculator !text-sm !mb-1 !mr-2'
            | Totals

      =r ux.statistics 'tiny !mb-4 justify-center'
        =r ux.statistic
          =r ux.value text: number_with_delimiter(@feeds_count, :delimiter => ','), ui: false,
                  class: '!text-slate-800'
          =r ux.label text: 'Feeds', ui: false,
                  class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value text: number_with_delimiter(@feed_items_count, :delimiter => ','), ui: false,
                  class: '!text-slate-800'
          =r ux.label text: 'Feed Items', ui: false, class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value text: number_with_delimiter(@stories_count, :delimiter => ','), ui: false
          =r ux.label text: 'Stories', ui: false, class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value text: number_with_delimiter(@discussions_count, :delimiter => ','), ui: false
          =r ux.label text: 'Discussions', ui: false, class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value text: number_with_delimiter(@imaginations_count, :delimiter => ','), ui: false
          =r ux.label text: 'Imaginations', ui: false, class: '!font-mono !text-slate-700 !font-normal'

        =r ux.statistic
          =r ux.value text: number_with_delimiter(@tweets_count, :delimiter => ','), ui: false
          =r ux.label text: 'Tweets', ui: false, class: '!font-mono !text-slate-700 !font-normal'

      =r ux.segment '!bg-slate-700 inverted mb-0 !py-2 !rounded-sm w-11/12 !mx-auto'
        =r ux.h3 'center aligned !font-mono !mb-0 flex items-center !text-sm !font-normal'
          div.mx-auto
            =r ux.icon 'book reader !text-sm !mb-1 !mr-2'
            | Feed Topics

      =r ux.div 'flex flex-wrap'
        - @topics.each do |topic|
          =r ux.div '!mb-10 !bg-black-100 !border-2 !border-blue-100 !px-10 !py-10 !w-1/2'
            =r ux.h5 'center aligned'
              = topic.name
              =r ux.label text: topic.active_subtopics.count, class: 'circular !bg-slate-600 !text-white mini'
            =r ux.divider
            - topic.active_subtopics.each do |sub_topic|
              =r ux.div 'flex justify-end'
                =r ux.h5 text: sub_topic.name, class: '!text-shadow-sm !font-normal !mt-0 !mt-[-4px] !mr-2 !mb-2'
                - if sub_topic.feeds.last.present?
                  -if sub_topic.feeds.last.created_at.strftime("%m/%d/%Y") == Time.now.utc.to_date.strftime("%m/%d/%Y")
                    =r ux.div 'w-3 h-3 bg-green-500 rounded-full'
                  - else
                    =r ux.div 'w-3 h-3 bg-red-300 rounded-full'
                - else
                  =r ux.div 'w-3 h-3 bg-red-300 rounded-full'

              =r ux.div '!bg-zinc-100 !border-1 border-dashed !border-zinc-400 !shadow-sm !mb-12 p-4'
                =r ux.pre 'overflow-hidden !max-h-80 !text-xs '
                  =r ux.span text: "Feed: #{sub_topic.stream_id}", class: 'text-gray-800'
                  - if sub_topic.feeds.last.present?
                    br
                    =r ux.span class: 'text-gray-800', text: sub_topic.feeds.last.created_at.strftime("Last Updated: %m/%d/%Y")

                  br
                  =r ux.span
                    = "Stories: #{sub_topic.stories.present? ? sub_topic.stories.count: 0}"
