=r ux.container
  =r ux.row
    =r ux.column width: 16
      =r ux.segment '!mt-10 !mb-20 !bg-zinc-100 !border-4 !border-zinc-200 !shadow-xl !px-10 !py-10 overflow-x-hidden'
        = turbo_frame_tag 'settings_frame'
          - if current_user.admin?
            div.mt-2.mb-8.text-right
              = link_to 'Edit Settings', edit_setting_path(@settings),
                      class: 'py-2 px-4 bg-blue-500 text-sm text-white rounded-sm hover:bg-blue-600 hover:text-white border-solid border-2 border-gray-700 no-underline'
          =r ux.code
            =r ux.h3 class: 'text-center mb-2', text: 'Topics'
            =r ux.divider '!mb-8'
            pre.text-sm
              = @settings.topics

            =r ux.h3 class: 'text-center mb-2', text: 'Prompts'
            =r ux.divider '!mb-8'
            pre.text-sm
              = @settings.prompts

            =r ux.h3 class: 'text-center mb-2', text: 'Tunings'
            =r ux.divider '!mb-8'
            pre.text-sm
              = @settings.tunings

