=r ux.container
  =r ux.row
    =r ux.column width: 16
      =r ux.segment 'basic'
        =r ux.text class: 'text-center', text: '🔒 This page is protected by devise. You can only see it if you are logged in & authorized. 🔒'

      =r ux.divider

      =r ux.h2 'center aligned'
        | Stories
        =r ux.label text: @stories.count, class: 'circular purple'

      - @stories.each do |story|
        =r ux.segment '!mb-20 !bg-zinc-200 !border-2 !border-zinc-300 !shadow-2xl !rounded-2xl !px-10 !py-10 overflow-x-hidden'
          =r ux.code
            =r ux.strong 'text-blue-800 !mb-80'
              | Tag: &nbsp;
              = story.tag.name
            = link_to story_path(story), story_path(story)
          - story.feed_items.each do |feed_item|
            =r ux.div 'mt-10'
              =r ux.pre
                =r ux.strong text: "Title: #{feed_item.title}"
                =r ux.div text: "URL: #{feed_item.url}"
                =r ux.div text: "Author: #{feed_item.author}"
                =r ux.div text: "Published: #{feed_item.published}"
                =r ux.div text: "Topic: #{story.sub_topic.topic.name}"
                =r ux.div text: "Sub Topic: #{story.sub_topic.name}"
              = markdown(feed_item.markdown_content)
              =r ux.divider
