=r ux.container
  =r ux.row
    =r ux.column width: 16
      =r ux.segment 'basic'
        =r ux.text class: 'text-center', text: '🔒 This page is protected by devise. You can only see it if you are logged in & authorized. 🔒'

      =r ux.divider

      =r ux.h2 'center aligned !font-mono'
        | Stories
        =r ux.label text: @total_stories, class: 'circular !bg-black !text-white'

      =r ux.div 'text-center'
        = paginate @stories

      - @stories.each do |story|
        =r ux.segment '!mt-10 !mb-20 !bg-zinc-100 !border-4 !border-zinc-200 !shadow-xl !px-10 !py-10 overflow-x-hidden'
          =r ux.code
            =r ux.div 'text-right'
              = link_to 'Show Story', story_path(story)

            =r ux.strong 'text-blue-800 !mb-80'
              = "Tag: #{story.tag.name}"
            br
            =r ux.strong "#{story.processed ? ' text-green-800' : 'text-red-800'} !mb-80"
              = "Processed: #{story.processed}"
            - if story.images.first&.card_imagination.present? && story.images.first.card_imagination.payload["imageUrl"].present?
              =r ux.div
                = "Images: #{story.images.count}"
              =r ux.div
                = image_tag story.images.first.card_imagination.payload["imageUrl"], class: 'w-1/2'

            =r ux.div 'mt-5 mb-5'
              - if story.invalid_json
                =r ux.label text: "Invalid JSON", class: 'red'

              - if story.invalid_images
                =r ux.label text: "Invalid Images", class: 'purple'



            =r ux.divider
            =r ux.div text: 'Feed Items: ', class: 'mb-4 text-blue-600'
          - story.feed_items.each do |feed_item|
            =r ux.div 'mt-0'
              =r ux.pre
                =r ux.strong text: "Title: #{feed_item.title}"
                =r ux.div text: "URL: #{feed_item.url&.slice(0, 80)}.."
                =r ux.div text: "Author: #{feed_item.author}"
                =r ux.div text: "Published: #{feed_item.published}"
                =r ux.div text: "Topic: #{story.sub_topic.topic.name}"
                =r ux.div text: "Sub Topic: #{story.sub_topic.name}"
              =r ux.divider

      =r ux.div 'text-center'
        = paginate @stories
