=r ux.container
  =r ux.row
    =r ux.column width: 16
      =r ux.segment 'basic'
        =r ux.text class: 'text-center', text: '🔒 This page is protected by devise. You can only see it if you are logged in & authorized. 🔒'

      =r ux.divider

      =r ux.h2 'center aligned !font-mono'
        | Imaginations
        =r ux.label text: @total_imaginations, class: 'circular !bg-blue-700 !text-white'

      =r ux.div 'text-center'
        = paginate @imaginations

      - @imaginations.each do |imagination|
        =r ux.segment '!mt-10 !mb-20 !bg-zinc-200 !border-4 !border-zinc-300 !shadow-xl !px-10 !py-10 overflow-x-hidden'
          = image_tag imagination.payload['imageUrl'], class: 'ui image'
          =r ux.code '!mt-10'
            br
            =r ux.strong text: 'Prompt'
            br
            = imagination.payload['content']


      =r ux.div 'text-center'
        = paginate @imaginations
