=r ux.container
  =r ux.row
    =r ux.column size: 16, class: 'pt-20'
      =r ux.h1 text: 'Unauthorized', class: 'center aligned'
      =r ux.text text: 'You are not authorized to access this page.', class: 'text-center'
