name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15-alpine
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: rails_test
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password

    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://rails:password@localhost:5432/rails_test"
      PGPASSWORD: password
      PGUSER: rails
      API_KEY: ${{ secrets.API_KEY }}
      FEEDLY_TOKEN: ${{ secrets.FEEDLY_TOKEN }}
      FROM_EMAIL: ${{ secrets.FROM_EMAIL }}
      NEXT_LEG_TOKEN: ${{ secrets.NEXT_LEG_TOKEN }}
      OPENAI_URL_BASE: ${{ secrets.OPENAI_URL_BASE }}
      OPENAI_ACCESS_TOKEN: ${{ secrets.OPENAI_ACCESS_TOKEN }}
      OPENAI_ORGANIZATION_ID: ${{ secrets.OPENAI_ORGANIZATION_ID }}
      OPENAI_GPT_MODEL: ${{ secrets.OPENAI_GPT_MODEL }}
      ORGANIZATION: ${{ secrets.ORGANIZATION }}
      STORYPRO_API_KEY: ${{ secrets.STORYPRO_API_KEY }}
      STORYPRO_API_URL: ${{ secrets.STORYPRO_API_URL }}
      UPLOADCARE_PUBLIC_KEY: ${{ secrets.UPLOADCARE_PUBLIC_KEY }}
      UPLOADCARE_SECRET_KEY: ${{ secrets.UPLOADCARE_SECRET_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@55283cc23133118229fd3f97f9336ee23a179fcf # v1.146.0
        with:
          bundler-cache: true
      - name: Set up database schema
        run: bin/rails db:schema:load
      - name: Load blueprints
        run: bin/rails generate blueprints
      - name: Run tests
        run: bundle exec rspec
